Host {{ ansible_fqdn }} {{ ansible_hostname }}
	Hostname {{ ansible_fqdn }}
	User {{ login_user }}
	IdentityFile {{ local_pki_directory }}/{{ login_user_key }}
	PreferredAuthentications publickey
	IdentitiesOnly yes
{% if environ == 'dev'  %}
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null
{% endif %}
